.timePicker {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  overflow: hidden;
  position: relative;
  user-select: none;

  &__center {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    &::before, &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      border-top: 1px solid gray;
      width: 100%;
      margin-top: -12px;
    }
    &::after {
      margin-top: 12px;
    }
  }

  &__col {
    border: 1px solid red;
    height: 100%;
    width: 25%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    position: relative;
  }

  &__hours {
    //margin-top: -12px;
    position: absolute;
    width: 100%;
    top: 50%;
    box-sizing: border-box;
  }

  &__minutes {
    position: absolute;
    width: 100%;
    top: 50%;
  }

  &__item {
    text-align: center;
    height: 24px;
    line-height: 24px;
    &--active {
      font-weight: bold;
      color: red
    }
  }

}