$height-cell: 24px;

$color-cell: black;
$color-cell-active: #6194ad;

$border-color: #ADADAD;

$color-picker-shadow: white;

.timePicker {
  width: 140px;
  height: 150px;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: white;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    box-shadow: 0 0 40px 20px $color-picker-shadow;
    z-index: 5;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 40px 20px $color-picker-shadow;
    z-index: 5;
  }

  &__notransition {
    transition: none !important;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: $height-cell;
    margin-top: -$height-cell/2;
    border: 1px solid $border-color;
    &:before, &:after {
      position: absolute;
      content: "";
      height: 300px;
      border-left: 1px solid $border-color;
      left: -1px;
      top: -150px;
      opacity: 0.5;
    }
    &:after {
      left: auto;
      right: -1px;
    }
  }

  &__col {
    height: 100%;
    width: 25%;
    float: left;
    box-sizing: border-box;
    position: relative;
    &:before {
      content: ":";
      position: absolute;
      top: 50%;
      left: -3px;
      height: $height-cell;
      line-height: $height-cell;
      margin-top: -$height-cell/2;
      font-size: 14px;
      color: $color-cell-active;
    }
  }

  &__items {
    position: absolute;
    width: 100%;
    top: 50%;
    box-sizing: border-box;
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__item {
    text-align: center;
    box-sizing: border-box;
    height: $height-cell;
    line-height: $height-cell;
    font-size: 14px;
    color: $color-cell;
    transition: 200ms;
    &--disabled {
      opacity: 0.3;
    }
    &--active {
      color: $color-cell-active;
      opacity: 1;
    }
  }

}